.elements__btn-delete {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 18px;
  height: 19px;
  background-size: contain;
  background-color: transparent;
  background-image: url(../../../images/elements/trash.svg);
  border: none;
}

.elements__btn-delete:hover {
  opacity: .6;
  cursor: pointer;
}
