.profile {
    max-width: 880px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .profile {
        flex-direction: column;
        row-gap: 36px;
    }
}