.popup__content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 430px;
    width: 100%;
    height: 330px;
    background-color: #ffffff;
    border-radius: 10px;
    border: 0;
    box-sizing: border-box;
    margin-top: calc(50vh - 165px);
}

@media screen and (max-width: 768px) {
    .popup__content {
    max-width: 282px;
    min-height: 322px;
    margin-top: calc(50vh - 161px);
    }
}