.profile__info-avatar {
    width: 120px;
    height: 120px;
    object-fit: contain;
    border-radius: 50%;
    grid-row-start: 1;
    grid-row-end: 3;
}

@media screen and (max-width: 768px) {
    .profile__info-avatar {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        margin: 0;
    }
}