.elements__name {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    font-family: 'Inter Black';
    font-weight: bold;
    font-size: 24px;
    color: #000000;
    background-color: #FFFFFF;
    padding: 25px 0  0 21px;
    min-height: 79px;
    margin: 0;
    border-radius: 0 0 0 10px;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}