.popup__btn-close {
    width: 32px;
    height: 32px;
    background-image: url(../../../picture/popup/btn-close.svg);
    background-position: center;
    position: absolute;
    top: -40px;
    right: -40px;
    background-color: #000000;
    border: none;
}
.popup__btn-close:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .popup__btn-close {
        top: -36px;
        right: 0;
        width: 20px;
        height: 20px;
        background-size: contain;
    }
}