.profile__info-name {
    font-family: 'Inter Medium';
    font-size: 42px;
    font-weight: 500;
    line-height: 48px;
    margin: 0 0 0 30px;
    align-self: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 768px) {
    .profile__info-name {
        grid-column-start: 1;
        grid-column-end: 2;
        margin: 26px auto 14px;
        justify-items: center;
        font-size: 27px;
        padding-left: 28px;
        line-height: 1;
        max-width: 282px;
    }
}