.profile__info {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
    align-items: center;
}

@media screen and (max-width: 768px) {
    .profile__info {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
    justify-items: center;
    }
}