.popup__btn-save {
    width: 358px;
    height: 50px;
    background-color: #000000;
    border: none;
    margin: 0 auto;
    display: block;
    border-radius: 2px;
    color: #ffffff;
    line-height: 1.21;
    padding: 0;
}

.popup__btn-save:hover {
    opacity: 0.8;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .popup__btn-save {
        font-size: 14px;
        width: 238px;
        height: 46px;
    }
}