.popup__title {
    color: #000000;
    max-width: 358px;
    width: 100%;
    font-family: 'Inter Black';
    font-size: 24px;
    line-height: 1.21;
    margin: 34px 0 54px;
}

@media screen and (max-width: 768px) {
    .popup__title {
        font-size: 18px;
        line-height: 1;
        margin: 25px 0 75px 0;
        max-width: 238px;
    }
}